name: nodejs app

on:
  push:
    branches:
      - main
      - prod

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v4

      - name: extract version
        run: |
          echo "VERSION=$(jq -r .version package.json)" >> "$GITHUB_ENV"
      - name: test the env var
        run: echo "${{ env.VERSION }}"

          
